<div class="container mt-3 p-2">
  <h1 class="text-muted text-center mb-2">Our Products</h1>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-outline-success">Add New Product</button>
    </div>
    <div class="col-sm-6 d-flex justify-content-end">
      <input type="text" placeholder="Search ...." class="form-control w-25" />
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Product Name</th>
          <th scope="col">Product Price</th>
          <th scope="col">Product Quantity</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>name</td>
          <td>100</td>
          <td>10</td>
          <td>delete</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
