<div class="container mt-5 p-3 alert alert-info">
  <h1>Home Component</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, alias autem
    laborum tempore architecto quisquam fugiat accusantium, eaque maxime saepe,
    odit impedit voluptate. Quisquam natus autem earum pariatur ea cupiditate.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, alias autem
    laborum tempore architecto quisquam fugiat accusantium, eaque maxime saepe,
    odit impedit voluptate. Quisquam natus autem earum pariatur ea cupiditate.
  </p>
  <button class="btn btn-dark">Show More !</button>
</div>
